In [2]:
import pandas as pd

df = pd.DataFrame([['achyuta','Address: xyz'],['ram','Address: btd'],['kishore','Address: ghf'],['sam','Address: bood']],columns=['name','address'])
df

      name        address
0  achyuta   Address: xyz
1      ram   Address: btd
2  kishore   Address: ghf
3      sam  Address: bood

In [8]:
def func(inp,df):
    #df[df['name'].str.contains(inp)]
    coll = []
    for i in range(0, len(df)):
        tmp_data = df.loc[i,:].to_list()
        #print(tmp_data)
        if any([True for i in tmp_data if inp in i]):
            coll.append(i)
    #print(coll)
    if len(coll)>0:
        return df.loc[coll,:]
    else:
        return pd.DataFrame()
    
func('ss',df)

      name        address
0  achyuta   Address: xyz
1      ram   Address: btd
2  kishore   Address: ghf
3      sam  Address: bood

In [9]:
a = '''p1 has phno 1234
         p2 has phno 567
        p1 has phno 783'''

'\n' in a

True

In [18]:
x = [i.strip() for i in a.split('\n')]

y = [(i.split(' ')[0],i.split(' ')[-1]) for i in x]

z = {}

for i in y:
    #rint(i)
    if z.get(i[0],None):
        #rint(i[0],i[1])
        z[i[0]].append(i[1])
        #[i[0]] = 
    else:
        z[i[0]] = [i[1]]
    #rint(z)
z

{'p1': ['1234', '783'], 'p2': ['567']}

In [19]:
a = 20
while(a<30):
    if a == 23:
        continue
    a = a+1
    print(a)

21
22
23

KeyboardInterrupt:

In [1]:
my_list = [2, 3, 5, 7, 11]
[i**2 for i in my_list if i%2 !=0]

[9, 25, 49, 121]

In [12]:
lista = ['alfa', 'bravo', 'charlie', 'delta', 'echo']

lista[3:0:-1]

['delta', 'charlie', 'bravo']

In [6]:
a = [1, 2, 3]
b = [7, 8, 9]

[i[0]+i[1] for i in zip(a,b)]

[8, 10, 12]

In [ ]:
colors = ['red','blue','green']

df[~df['A'].isin(colors)]

In [8]:
#lst = [5,7,9,1,23]
#lst = [1,2,3,4,5]
lst = [5,4,3,2,1]

In [9]:
for j in range(0,len(lst)):
    tmp = None
    for i in range(0, len(lst)):
        if i+1==len(lst):
            continue
        if lst[i]<lst[i+1]:
            tmp = lst[i]
            lst[i] = lst[i+1]
            lst[i+1] = tmp
    if tmp is None:
        break
print(lst)

[5, 4, 3, 2, 1]

In [ ]:
#contry, state, region, count(males), count(females)

#q. state, region sum(males) and avg(females)

#df['sum_males'],df['avg_females'] = df.groupby(['state','region'])['count(males)','count(females)'].apply(lambda x: (sum(x['count(males)']),avg(x['count(females)'])),axis=1)

In [31]:
x = [1, 45, 76,89]

small = x[0]
for i in range(0,len(x)):
    if small>x[i]:
        small = x[i]
print(small)

1

In [17]:
S = "abacdec"
 
def solution(S):
    count_of_min_substrings=0
    substr=""
    for i in range (0,len(S)):
        if S[i] not in substr:
            substr += S[i]
        else:
            count_of_min_substrings += 1
            substr = S[i]
    return count_of_min_substrings+1
solution(S)

3

In [ ]:
black, pep8

In [1]:
x = [5,11,0,-34] 

#rint square in one line code

[i**2 for i in x]

[25, 121, 0, 1156]

In [ ]:
x=arr.array( [11.1 , 2.1 ,3.1] ) -> list
x.append(10.1)  -> [11.1 , 2.1 ,3.1, 10.1] 

print(x)
x.extend([8.3,1.3,5.3])

print(x)-> [11.1 , 2.1 ,3.1, 10.1,8.3,1.3,5.3]

x.insert(2,6.2)

print(x) -> [11.1 , 2.1 ,6.2,3.1, 10.1,8.3,1.3,5.3]

In [ ]:
list = [“2”, “5”, “7”, “8”, “1”]

In [ ]:
six sigma: 
parreto principle:
5 number summary:
    
What is the probability of getting a sum 9 from two throws of a dice?

5,4
4,5
3,6
6,3

4/36

In [ ]:
A train 125 m long passes a man, running at 5 km/hr in the same direction in which the train is going, in 10 seconds. 
The speed of the train is:

In [ ]:
spped = distance/time
50 samples

[1,2,3,4,5]
(1,(2,3,4,5)), (2,(1,3,4,5))
10 - test 
40- train

TP/(TP+FN)- recall

In [2]:
string_list=['apple','ball','elephant','zebra']
#find longest element in list

tmp_list = [len(i) for i in string_list]
string_list[tmp_list.index(max(tmp_list))]

'elephant'

In [4]:
string = "200 plus 500 is equal to"
#string3 = "give me plus of 200 and 500"
string2 = "hello 500 minus 300 is"
##evaluate the above string

In [10]:
def func(inp_str):
    #tmp_dict = {'plus':'+','minus':'-'}
    if 'plus' in inp_str:
        # get intgers
        tmp_list = []
        for i in inp_str.split():
            try:
                if int(i):
                    tmp_list.append(int(i))
            except:
                pass
                    
        # opts
        return tmp_list[0] + tmp_list[1]
    elif 'minus' in inp_str:
        # get intgers
        tmp_list = []
        for i in inp_str.split():
            try:
                if int(i):
                    tmp_list.append(int(i))
            except:
                pass
                    
        # opts
        #print(tmp_list)
        return tmp_list[0] - tmp_list[1]
        # opts
    else:
        "Not handled"
        
print(func(string))

700

In [ ]:
x = [1,2,1]
y = []

q1. how many integers present in both list?  -> 5
q2. if any list has all integers, concatenate , and check if number formed is palliendrum or not ?
q3. convert two list into single list of tuples, each tuple val will have from both x and y

In [3]:
x = [1, 3, 2, 3, 1] 
y = ["a", "b" , "c", "y", "z"]

In [7]:
def integer_present(l1):
    return len([i for i in l1 if isinstance(i,int)])

print(integer_present(x))
print(integer_present(y))

5
0

In [13]:
def check_integer(l1):
    # will check loist has int
    if [True if isinstance(i,int) else False for i in l1].count(True)==len(l1):
        print("list has all integers")
        
        # check if pallendrum or not
        print("it's a pallindrum.") if l1==l1[::-1] else "not a pallindrum"
    else:
        print("list not have integers")

check_integer(x)

list has all integers
it's a pallindrum.

In [14]:
list(zip(x,y))

[(1, 'a'), (3, 'b'), (2, 'c'), (3, 'y'), (1, 'z')]

In [16]:
import pandas as pd

cnt = 5
dict_of_data = {'employee':[f'x_{i}' for i in range(cnt)],
               'location':['Delhi','Mumbai','Bangalore','Mumbai','Bangalore'],
               'age':[23, 45,27,35,30]}

df = pd.DataFrame(dict_of_data)
df

  employee   location  age
0      x_0      Delhi   23
1      x_1     Mumbai   45
2      x_2  Bangalore   27
3      x_3     Mumbai   35
4      x_4  Bangalore   30

In [18]:
import numpy as np

df.groupby('location').agg({'employee':'count','age':np.mean})

           employee   age
location
Bangalore         2  28.5
Delhi             1  23.0
Mumbai            2  40.0